@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@font-face {
	font-family: "MgOpenModata";
	src: local("MgOpenModata"), url("https://nomail.com.ua/files/woff/ac9f778ef2adbb325ed7017c3304f37f.woff") format("woff");
}
@font-face {
	font-family: "BigNoodleTitling";
	src: local("BigNoodleTitling"), url("https://nomail.com.ua/files/woff/142c7f17715f09507bdbcecaed8f7947.woff") format("woff");
}
@font-face {
	font-family: "FontAwesome";
	src: local("FontAwesome"), url("https://nomail.com.ua/files/woff/706450d7bba6374ca02fe167d86685cb.woff") format("woff");
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Roboto";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Roboto";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}
body .custom-scroll::-webkit-scrollbar {
	height: 3px;
	background-color: #444;
	border-radius: 9em;
}
body .custom-scroll::-webkit-scrollbar-thumb {
	background-color: #843465;
	border-radius: 9em;
	background-color: #f66;
}
body .custom-scroll::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 102, 102, 0.712);
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1003px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1015px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 827.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	padding: 0px 0px;
}
.btn.fw {
	width: 100%;
}

.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;
}
.select .select-title {
	z-index: 1;
	width: 100%;
	height: 55px;
	border: 1px solid #dedede;
	position: relative;
	background-color: #fff;
}
.select .select-title__arrow {
	position: absolute;
	top: 0;
	right: 0px;
	width: 45px;
	height: 100%;
	background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 53px;
	display: block;
	overflow: hidden;
	padding: 0 45px 0 25px;
	white-space: nowrap;
	text-transform: none;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.select .select-options {
	position: absolute;
	z-index: 10;
	top: 54px;
	display: none;
	overflow: hidden;
	min-width: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
	max-height: 80px;
	overflow: auto;
}
.select .select-options-list {
	padding: 0px 0px 0px 0px;
}
.select .select-options__value {
	color: #000;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
	margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
	color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}
.option:last-child {
	margin-bottom: 0px;
}
.option input {
	display: none;
}
.option:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	content: "";
	border: 1px solid #7f7f7f;
	border-radius: 50%;
}
.option.active:before {
	background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.rating.edit .star {
	cursor: pointer;
}
.rating .star {
	width: 17px;
	height: 14px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

.quantity {
	position: relative;
	width: 73px;
	height: 47px;
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
}

.quantity__input {
	height: 45px;
	width: 50px;
	text-align: center;
	color: #101010;
	font-weight: 300;
}

.quantity__btn {
	position: absolute;
	top: 11px;
	right: 15px;
	cursor: pointer;
}
.quantity__btn:before {
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	color: #a9a9a9;
}
.quantity__btn:hover:before {
	color: #da0005;
}
.quantity__btn.dwn {
	top: 25px;
}

.category-params-item-price-table {
	margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
	padding-right: 15px;
	position: relative;
}
.category-params-item-price-table .cell:first-child:after {
	content: "-";
	position: absolute;
	right: -4px;
	top: 8px;
	font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
	padding-left: 15px;
}
.category-params-item-price-table .cell input {
	height: 37px;
	border: 2px solid #393939;
	background-color: #ffffff;
	text-align: center;
	font-size: 12px;
	color: #393939;
	font-weight: 500;
	width: 100%;
}

.category-params-item-price-range {
	margin: 0 12px 40px 12px;
	background-color: #c9cecf;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-range {
	background-color: #000;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-handle {
	width: 23px;
	height: 28px;
	border: 3px solid #fbfbfb;
	background-color: #ea5922;
	display: block;
	position: absolute;
	top: -14px;
	margin-left: -12px;
	cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 50px;
	text-align: center;
	font-size: 10px;
	margin-left: -25px;
	font-weight: 500;
	color: #94a6aa;
}

.form__info {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	line-height: 60px;
	text-align: center;
	color: #888;
	z-index: 2;
	font-size: 14px;
}
@media (max-width: 827.98px) {
	.form__info {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
	background-color: #093454;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
	background: url("../img/icons/range.svg") 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin: -9px 0px 0px -14px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.form-range-line .ui-state-hover {
	background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed !important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
}
.popup.active .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.show {
	display: block;
}
.popup.show .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.popup-table {
	height: 100%;
	table-layout: fixed;
}
.popup-table > .cell {
	height: 100%;
	vertical-align: middle;
	padding: 30px 10px;
}

.popup-content {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	max-width: 1230px;
	margin: 0px auto;
	background-color: #fff;
}

.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
	width: 40px;
	height: 40px;
	background-color: #000;
	top: 0;
	right: 0;
}

.icon-menu {
	display: block;
	position: absolute;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 15;
}
@media (max-width: 1100px) {
	.icon-menu {
		right: 10px;
	}
}
.icon-menu span {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #000;
}
.icon-menu span:first-child {
	top: 0px;
}
.icon-menu span:last-child {
	top: auto;
	bottom: 0px;
}
.icon-menu.active span {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.icon-menu.active span:first-child {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 8px;
}
.icon-menu.active span:last-child {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 8px;
}

.menu__body {
	padding: 150px 0px 0px 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: -100%;
	overflow: auto;
	left: 0;
	z-index: 10;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}
@media (max-width: 827.98px) {
	.menu__body {
		padding: 75px 0px 0px 0px;
	}
}
.menu__body .menu__link {
	font-size: 32px;
	color: #696969;
}
@media (max-width: 827.98px) {
	.menu__body .menu__link {
		font-size: 24fpx;
	}
}
.menu__body .menu__link:hover {
	opacity: 0.8;
	border-bottom: 3px solid red;
	padding: 0px 0px 3px 0px;
}
.menu__body.active {
	top: 0px;
}
.menu__list {
	margin: 0px 0px 15px 0px;
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
	font-family: "BigNoodleTitling";
	color: #d6d5d5;
	line-height: 1.2;
	font-family: "BigNoodleTitling";
	text-align: center;
}
@media (max-height: 250px) {
	.header {
		height: 250px;
	}
}
.header__row--top {
	position: fixed;
	z-index: 15;
	top: 0;
	width: 100%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header__row--top::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f5f3f3;
	z-index: 15;
}
.header__row--top.out {
	-webkit-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	        transform: translateY(-100%);
}
.header__row--top.active {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}
.header__body--top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 25px 0px;
}
@media (max-width: 827.98px) {
	.header__body--top {
		padding: 15px 0px;
	}
}
.header__row-bottom {
	position: relative;
	background-color: #353535;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 150px 0px 50px 0px;
}
@media (max-width: 827.98px) {
	.header__row-bottom {
		padding: 45px 0px 20px 0px;
	}
}
.header__main-text {
	font-size: 72px;
	letter-spacing: 0.15em;
}
@media (max-width: 991.98px) {
	.header__main-text {
		font-size: 40px;
	}
}
.header__main-subtext {
	font-size: 36px;
	letter-spacing: 0.1em;
}
@media (max-width: 991.98px) {
	.header__main-subtext {
		font-size: 24px;
	}
}
.header__hint {
	font-family: Roboto;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 700;
	color: #d6d5d5;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}
.header__hint:before {
	content: "";
	background-image: url("../img/header/header_mouse.png");
	background-size: 18px 37px;
	background-position: center;
	width: 100%;
	height: 37px;
	top: -56px;
	visibility: visible;
	background-repeat: no-repeat;
	position: absolute;
}
@media (max-height: 500px) {
	.header__hint:before {
		visibility: hidden;
	}
}
@media (max-width: 827.98px) {
	.header__hint:before {
		visibility: hidden;
	}
}
@media (max-height: 500px) {
	.header__hint {
		visibility: hidden;
	}
}
@media (max-width: 827.98px) {
	.header__hint {
		visibility: hidden;
	}
}

.title {
	position: relative;
	display: block;
	z-index: 15;
}
.title__text {
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: 0.1em;
	color: #696969;
	padding: 0px 0px 0px 55px;
}
@media (max-width: 827.98px) {
	.title__text {
		font-size: 30px;
	}
}
.title__logo {
	position: absolute;
	width: 29px;
	height: 45px;
	top: 10px;
	left: 0;
}
@media (max-width: 827.98px) {
	.title__logo {
		height: 30px;
		width: 25px;
	}
	.title__logo img {
		width: 100%;
		height: 100%;
	}
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header__slider {
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	padding: 0px 20px;
	min-width: 0;
}
.header__slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -22.5px 65px 0px;
	z-index: 10;
	font-size: 0;
	width: 26px;
	height: 45px;
}
@media (max-width: 827.98px) {
	.header__slider .slick-arrow {
		margin: -22.5px 5px 0px;
	}
}
.header__slider .slick-arrow.slick-prev {
	left: 0;
	background: url("../img/header/arrow_l.png") 0 0/100% no-repeat;
}
.header__slider .slick-arrow.slick-next {
	right: 0;
	background: url("../img/header/arrow_r.png") 0 0/100% no-repeat;
}
.header__slider .slick-list {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-width: 0;
}

.about-us {
	padding: 65px 0px 0px 0px;
	text-align: center;
}
@media (max-width: 827.98px) {
	.about-us {
		padding: 30px 0px 0px 0px;
	}
}
.about-us__container {
	max-width: 1003px;
	margin: 0 auto;
	width: 100%;
}
.about-us__heading {
	margin: 0px 0px 40px 0px;
}
@media (max-width: 827.98px) {
	.about-us__heading {
		margin: 0px 0px 15px 0px;
	}
}
.about-us__subheading {
	max-width: 544px;
	margin: 0 auto 53px;
}
@media (max-width: 827.98px) {
	.about-us__subheading {
		margin: 0 auto 15px;
	}
}
.about-us__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -10px 115px;
}
@media (max-width: 827.98px) {
	.about-us__row {
		margin: 20px 20px 30px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}
}
.about-us__column {
	margin: 0px 10px;
}
@media (max-width: 827.98px) {
	.about-us__column {
		margin: 0px 10px 20px;
	}
}

.heading {
	font-family: BigNoodleTitling;
	font-size: 48px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: #3d3d3d;
	display: inline-block;
	white-space: nowrap;
	position: relative;
}
.heading:after {
	content: "";
	width: 153px;
	position: absolute;
	top: 110%;
	left: 50%;
	border-bottom: 3px solid #f4511e;
	margin-left: -78px;
}
@media (max-width: 827.98px) {
	.heading:after {
		top: 100%;
	}
}

.subheading {
	font-size: 14.1px;
	line-height: 1.2;
	font-weight: 100;
	color: #696969;
	padding: 0px 10px;
}

.column {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	background-color: #ebebeb;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.column__icon {
	margin: 30px 0px 25px 0px;
	height: 60px;
}
.column__title {
	margin: 0px 0px 13px 0px;
	font-family: Roboto;
	font-size: 17.7px;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #707070;
}
.column__subtitle {
	max-width: 245px;
	margin: 0px 0px 20px 0px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 100;
	letter-spacing: 0.025em;
	color: #707070;
}
.column__body {
	margin: 0px 3px;
}

.watch {
	background-color: #171f23;
}
@media (max-width: 795px) {
	.watch {
		padding: 0px 0px 30px 0px;
	}
}
.watch__container {
	max-width: 1366px;
	margin: 0px auto;
	width: 100%;
}
.watch__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
@media (max-width: 827.98px) {
	.watch__body {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.watch__left {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
}
@media (max-width: 991.98px) {
	.watch__left {
		max-width: 250px;
	}
}
@media (max-width: 827.98px) {
	.watch__left {
		max-width: none;
		margin: 50px auto 20px;
		padding: 0 20px;
	}
}
.watch__title {
	font-size: 30px;
	font-weight: 700;
	color: #e7e7e7;
	margin: 0px 0px 25px 0px;
}
.watch__subtitle {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 100;
	color: #696969;
	max-width: 477px;
	margin: 0px 0px 45px 0px;
}
@media (max-width: 827.98px) {
	.watch__subtitle {
		margin: 0px 0px 25px 0px;
	}
}
.watch__button {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	position: relative;
	top: 0;
	-webkit-box-shadow: 0 5px 0px #3c354a;
	        box-shadow: 0 5px 0px #3c354a;
	-webkit-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: #ebebeb;
	background-color: #e84c3d;
	padding: 12px 29px;
}
.watch__button:active {
	top: 2px;
	-webkit-box-shadow: 0 3px 0px #3c354a;
	        box-shadow: 0 3px 0px #3c354a;
}
.watch__right {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.watch__video {
	opacity: 0.3;
	max-width: 683px;
}
@media (max-width: 827.98px) {
	.watch__video {
		width: 400px;
	}
}
.watch__video img {
	width: 100%;
}
.watch__run-up {
	display: inline-block;
	position: absolute;
}

.our-works__instruments {
	background-color: #1c1c1c;
}

.introduction {
	text-align: center;
}
.introduction__body {
	margin: 65px 0px 25px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 827.98px) {
	.introduction__body {
		margin: 30px 0px 10px 0px;
	}
}
.introduction__heading {
	margin: 0px 0px 39px 0px;
}
@media (max-width: 827.98px) {
	.introduction__heading {
		margin: 0px 0px 20px 0px;
	}
}
.introduction__subheading {
	max-width: 550px;
	margin: 0px 0px 82px 0px;
}
@media (max-width: 827.98px) {
	.introduction__subheading {
		margin: 0px 0px 30px 0px;
	}
}
.introduction__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 90%;
}

.dragscroll {
	overflow: auto;
}

.list {
	font-size: 13.7px;
	font-weight: 300;
	letter-spacing: 0.1em;
	color: #3d3d3d;
}
.list__item {
	padding: 0px 0px 0px 0px;
	display: inline-block;
	white-space: nowrap;
	margin: 0px 10px 3px 0px;
}
.list__item:last-child {
	margin: 0;
}
.list__item:hover {
	cursor: pointer;
	opacity: 0.6;
}
.list__item:active {
	font-weight: 700;
	border-bottom: 1px solid #e84c3d;
}
@media (max-width: 827.98px) {
	.list__item:active {
		border-bottom: none;
	}
}
.list__item--1 {
	font-weight: 700;
	border-bottom: 1px solid #e84c3d;
}
@media (max-width: 827.98px) {
	.list__item--1 {
		border-bottom: none;
	}
}
.examples {
	margin: 0px auto;
	width: 100%;
}
.examples__all-projects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.examples__block {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 20%;
	        flex: 1 1 20%;
}
@media (max-width: 827.98px) {
	.examples__block {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 33.333%;
		        flex: 1 1 33.333%;
	}
}
.examples__block img {
	width: 100%;
	height: 100%;
}

.instruments {
	height: 240px;
}
@media (max-width: 827.98px) {
	.instruments {
		height: 75px;
	}
}
.instruments__body {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	max-width: 675px;
	margin: 0px auto;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.instruments__instrument-wrapper {
	text-align: center;
}
.instruments__slider.slick-slider {
	position: relative;
}
.instruments__slider.slick-slider .slider__item {
	text-align: center;
}
.instruments__slider.slick-slider .slick-list {
	line-height: 50px;
	margin: 0px 75px;
}
.instruments__slider.slick-slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -11.25px 40px 0px;
	z-index: 10;
	font-size: 0;
	width: 13px;
	height: 22.5px;
}
.instruments__slider.slick-slider .slick-arrow.slick-prev {
	left: 0;
	background: url("../img/header/arrow_l.png") 0 0/100% no-repeat;
}
.instruments__slider.slick-slider .slick-arrow.slick-next {
	right: 0;
	background: url("../img/header/arrow_r.png") 0 0/100% no-repeat;
}
.instruments__instrument {
	font-family: MgOpenModata;
	font-size: 33px;
	color: #ececec;
	padding: 0px 0px 0px 44px;
	position: relative;
}
@media (max-width: 827.98px) {
	.instruments__instrument {
		font-size: 20px;
	}
}
.instruments__instrument:before {
	content: "";
	width: 36px;
	height: 37px;
	border: 1px solid #ffffff;
	border-radius: 10%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2b2b2b;
}
@media (max-width: 827.98px) {
	.instruments__instrument:before {
		width: 25px;
		height: 26px;
	}
}
.instruments__instrument--1:after {
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../img/our-works/01.png") 10px 3px no-repeat;
}
@media (max-width: 827.98px) {
	.instruments__instrument--1:after {
		background-position: 7px 1px;
		width: 50px;
		height: 26px;
		background-size: 25px 100%;
	}
}
.instruments__instrument--2 {
	padding: 0px 0px 0px 55px;
}
.instruments__instrument--2:before {
	left: 10px;
}
.instruments__instrument--2:after {
	content: "";
	width: 60px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../img/our-works/02.png") -4px 3px no-repeat;
}
@media (max-width: 827.98px) {
	.instruments__instrument--2:after {
		width: 50px;
		height: 26px;
		background-size: 40px 100%;
	}
}
.instruments__instrument--3:after {
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../img/our-works/03.png") 0px 0px no-repeat;
}
@media (max-width: 827.98px) {
	.instruments__instrument--3:after {
		width: 50px;
		height: 26px;
		background-size: 25px 100%;
	}
}

.who-we-are {
	padding: 65px 0px 100px 0px;
}
@media (max-width: 827.98px) {
	.who-we-are {
		padding: 35px 0px 50px 0px;
	}
}
.who-we-are__heading {
	margin: 0px 0px 40px 0px;
}
@media (max-width: 827.98px) {
	.who-we-are__heading {
		margin: 0px 0px 20px 0px;
	}
}
.who-we-are__subheading {
	margin: 0px 0px 82px 0px;
}
@media (max-width: 827.98px) {
	.who-we-are__subheading {
		margin: 0px 0px 40px 0px;
	}
}
.title-container {
	max-width: 550px;
	margin: 0px auto;
	width: 100%;
	text-align: center;
}

.info-about-person-container {
	max-width: 1005px;
	margin: 0px auto;
	width: 100%;
}

.info-about-person {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	min-height: 436px;
	color: #3d3d3d;
	margin: 0px -11.5px;
}
@media (max-width: 827.98px) {
	.info-about-person {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.info-about-person__initials {
	text-align: center;
	padding: 75px 0px;
	background-color: #ebebeb;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 33.333%;
	        flex: 1 1 33.333%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0px 11.5px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 827.98px) {
	.info-about-person__initials {
		padding: 30px 0px 0px 0px;
		height: 250px;
	}
}
.info-about-person__photo {
	width: 134px;
	height: 134px;
}
.info-about-person__photo img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.info-about-person__name {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.1em;
}
.info-about-person__post {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.1em;
}
.info-about-person__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	width: 65px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.info-about-person__contact {
	display: inline-block;
}
.info-about-person__contact:hover {
	opacity: 0.5;
}
.info-about-person__skills {
	background-color: #ebebeb;
	margin: 0px 11.5px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 66.666%;
	        flex: 1 1 66.666%;
	padding: 122px 64px 80px 47px;
}
@media (max-width: 827.98px) {
	.info-about-person__skills {
		padding: 25px;
	}
}
.info-about-person__title {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0px 0px 20px 0px;
}
.info-about-person__subtitle {
	font-size: 14px;
	font-weight: 100;
	color: #858383;
	margin: 0px 0px 40px 0px;
}
.info-about-person__skill {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0px 0px 20px 0px;
}
.info-about-person__name-of-skill {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.1em;
	width: 135px;
}
.info-about-person__scale {
	height: 1px;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: 0px 10px 0px 0px;
	background-color: #ffffff;
	position: relative;
}
.info-about-person__scale:after {
	content: "";
	background-color: #e84c3d;
	height: 1px;
	top: 0;
	left: 0;
	position: absolute;
}
.info-about-person__scale--1:after {
	width: 47%;
}
.info-about-person__scale--2:after {
	width: 92%;
}
.info-about-person__scale--3:after {
	width: 73%;
}
.info-about-person__scale--4:after {
	width: 98%;
}
.info-about-person__percent {
	font-size: 14px;
	font-weight: 300;
}

.switcher {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	width: 50px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.switcher__element {
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: #ffffff;
	border-radius: 50%;
}
.switcher__element:hover {
	background-color: #8e8181;
}
.switcher__element:first-child {
	background-color: #8e8181;
}

.some-features {
	padding: 60px 20px 0px;
	background-color: #171f23;
	color: #f6f6f6;
	min-height: 385px;
}
.some-features__container {
	max-width: 900px;
	margin: 0px auto;
	width: 100%;
	text-align: center;
}
.some-features__title {
	font-size: 36px;
	letter-spacing: 0.2em;
	padding: 0px 0px 20px 0px;
	margin: 0px 0px 20px 0px;
	white-space: nowrap;
}
@media (max-width: 827.98px) {
	.some-features__title {
		font-size: 26px;
	}
}
.some-features__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 479.98px) {
	.some-features__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.some-features__column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	height: 165px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 479.98px) {
	.some-features__column {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
		margin: 0px 0px 40px 0px;
	}
}
.some-features__icon {
	width: 100%;
	height: 56px;
}
.some-features__icon img {
	max-width: 100%;
	max-height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.some-features__name {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 300;
}
@media (max-width: 827.98px) {
	.some-features__name {
		font-size: 14px;
	}
}
.some-features__number {
	font-size: 48px;
	font-weight: 300;
}
@media (max-width: 827.98px) {
	.some-features__number {
		font-size: 30px;
	}
}

.block-posts {
	padding: 65px 0px 100px;
}
@media (max-width: 827.98px) {
	.block-posts {
		padding: 35px 0px 10px;
	}
}
.block-posts__heading {
	display: block;
	text-align: center;
	margin: 0px 0px 39px 0px;
}
@media (max-width: 827.98px) {
	.block-posts__heading {
		margin: 0px 0px 20px 0px;
	}
}
.block-posts__subheading {
	max-width: 550px;
	margin: 0 auto 70px;
	text-align: center;
}
@media (max-width: 827.98px) {
	.block-posts__subheading {
		margin: 0 auto 30px;
	}
}
.block-posts__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -12px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 1015px) {
	.block-posts__row {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.block-posts__column-layout {
	padding: 38px 30px 24px 25px;
}
.block-posts__column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #ebebeb;
	margin: 0 12px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 315px;
	        flex: 0 1 315px;
}
@media (max-width: 1015px) {
	.block-posts__column {
		margin: 0 12px 20px;
	}
	.block-posts__column:last-child {
		margin: 0 12px;
	}
}
.block-posts__img {
	width: 318px;
	height: 218px;
	position: relative;
}
.block-posts__img > img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-webkit-filter: blur(3px);
	        filter: blur(3px);
}
.block-posts__img-share, .block-posts__img-visible {
	display: none;
}
.block-posts__img:hover .block-posts__img-share {
	display: block;
	width: 43px;
	height: 43px;
	position: absolute;
	top: 50%;
	margin: -21.5px 0px 0px 0px;
	left: 35%;
	z-index: 10;
	cursor: pointer;
	border-radius: 50%;
}
.block-posts__img:hover .block-posts__img-share:hover {
	opacity: 0.8;
	-webkit-transition-duration: 250ms;
	     -o-transition-duration: 250ms;
	        transition-duration: 250ms;
}
.block-posts__img:hover .block-posts__img-visible {
	display: block;
	width: 43px;
	height: 43px;
	position: absolute;
	top: 50%;
	margin: -21.5px 0px 0px 0px;
	left: 55%;
	z-index: 10;
	border-radius: 50%;
	cursor: pointer;
}
.block-posts__img:hover .block-posts__img-visible:hover {
	-webkit-transition-duration: 250ms;
	     -o-transition-duration: 250ms;
	        transition-duration: 250ms;
	opacity: 0.8;
}
.block-posts__img:hover .block-posts__img-visible:active {
	opacity: 0;
}
.block-posts__img:hover .block-posts__img-visible:active ~ img {
	-webkit-transition-duration: 1000ms;
	     -o-transition-duration: 1000ms;
	        transition-duration: 1000ms;
	-webkit-filter: blur(0px);
	        filter: blur(0px);
}
@media (max-width: 827.98px) {
	.block-posts__img:hover .block-posts__img-visible:active ~ img {
		-webkit-transition-duration: 0;
		     -o-transition-duration: 0;
		        transition-duration: 0;
	}
}
.block-posts__img:hover .block-posts__img-visible:active ~ .block-posts__img-share {
	opacity: 0;
}
.block-posts__title {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.1em;
	color: #505050;
	margin: 0px 0px 28px 0px;
}
.block-posts__subtitle {
	font-size: 14px;
	line-height: 1.2;
	font-weight: 100;
	letter-spacing: 0.05em;
	margin: 0px 0px 28px 0px;
	color: #797979;
}
.block-posts__additional-inf {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	font-size: 10px;
	letter-spacing: 0.1em;
	color: #8a8989;
	line-height: 1.2;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.block-posts__date {
	padding: 0px 0px 0px 20px;
	background: url("../img/blog-posts/icon/01.png") 0 0 no-repeat;
}
.block-posts__likes {
	padding: 0px 0px 0px 18px;
	background: url("../img/blog-posts/icon/02.png") 0 0 no-repeat;
}
.block-posts__likes:hover {
	opacity: 0.8;
}
.block-posts__comments {
	padding: 0px 0px 0px 16px;
	margin: 0px 0px 0px 6px;
	background: url("../img/blog-posts/icon/03.png") 0 0 no-repeat;
}
.block-posts__comments:hover {
	opacity: 0.8;
}

.choose-plan {
	background-color: #171f23;
	color: #ffffff;
	padding: 60px 0px 90px 0px;
}
@media (max-width: 827.98px) {
	.choose-plan {
		padding: 50px 0px 45px 0px;
	}
}
.choose-plan__wrapper {
	text-align: center;
}
.choose-plan__header {
	font-size: 36px;
	letter-spacing: 0.2em;
	padding: 0px 0px 20px 0px;
	margin: 0px 0px 56px 0px;
	display: inline-block;
	position: relative;
}
.choose-plan__header:after {
	content: "";
	width: 86px;
	height: 1px;
	background-color: #404040;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -43px;
}
@media (max-width: 827.98px) {
	.choose-plan__header {
		margin: 0px 0px 35px 0px;
		padding: 0px 0px 10px 0px;
	}
}
.choose-plan__row {
	margin: 0px 24px;
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 827.98px) {
	.choose-plan__row {
		margin: 0px 14px;
	}
}
.choose-plan__column {
	margin: 0px 1px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 24%;
	        flex: 1 0 24%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.choose-plan__column:hover {
	border: 1px solid #f6744b;
	-webkit-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
}
@media (max-width: 827.98px) {
	.choose-plan__column {
		-ms-flex-preferred-size: 49%;
		    flex-basis: 49%;
		margin: 0px 1px 3px;
	}
}
.choose-plan__column-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #0e1316;
	color: #ffffff;
	padding: 40px 80px;
}
@media (max-width: 991.98px) {
	.choose-plan__column-top {
		padding: 20px 40px;
	}
}
.choose-plan__status {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0px 0px 5px 0px;
}
.choose-plan__price {
	font-size: 36px;
	font-weight: 300;
}
.choose-plan .choose-plan__row .choose-plan__column:not(:nth-child(1)) .choose-plan__column-top .choose-plan__price::first-letter {
	font-size: 24px;
}
.choose-plan__column-bottom {
	background-color: #1f282c;
	text-align: center;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding: 46px 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.choose-plan__column-bottom-info {
	font-size: 14.2px;
	font-weight: 100;
	letter-spacing: 0.1em;
	color: #ffffff;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: 0px 0px 75px 0px;
}
.choose-plan__column-bottom-info span {
	font-weight: 400;
}
@media (max-width: 827.98px) {
	.choose-plan__column-bottom-info {
		margin: 0px 0px 35px 0px;
	}
}
@media (max-width: 827.98px) {
	.choose-plan__column-bottom {
		padding: 10px 10px;
	}
}
.choose-plan__pages {
	margin: 0px 0px 20px 0px;
}
.choose-plan__storage {
	margin: 0px 0px 20px 0px;
}
.choose-plan__members {
	margin: 0px 0px 20px 0px;
}
.choose-plan__button {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #ffffff;
	border-radius: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 34px;
	padding: 0px 20px;
	text-transform: uppercase;
	position: relative;
	top: 0;
	-webkit-box-shadow: 0 5px 0px #3c354a;
	        box-shadow: 0 5px 0px #3c354a;
	-webkit-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	background-color: #f6744b;
}
.choose-plan__button:active {
	top: 2px;
	-webkit-box-shadow: 0 3px 0px #3c354a;
	        box-shadow: 0 3px 0px #3c354a;
}

.get-in-touch {
	padding: 70px 0px 80px;
	text-align: center;
}
@media (max-width: 827.98px) {
	.get-in-touch {
		padding: 40px 0px 40px 0px;
	}
}
.get-in-touch__wrapper {
	padding: 0px 117px;
}
@media (max-width: 991.98px) {
	.get-in-touch__wrapper {
		padding: 0px 20px;
	}
}
.get-in-touch__heading {
	display: block;
	text-align: center;
	margin: 0px 0px 40px 0px;
}
@media (max-width: 827.98px) {
	.get-in-touch__heading {
		margin: 0px 0px 20px 0px;
	}
}
.get-in-touch__subheading {
	text-align: center;
	max-width: 550px;
	margin: 0px auto 98px;
}
@media (max-width: 827.98px) {
	.get-in-touch__subheading {
		margin: 0px auto 50px 0px;
	}
}
.get-in-touch__input-forms {
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #696969;
	margin: 0px -15px 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	text-align: start;
}
.get-in-touch__input-forms .get-in-touch__input-label span {
	color: #f6744b;
}
.get-in-touch__input-forms input {
	border-bottom: 1px solid #cacaca;
	font-weight: 700;
	font-size: 16px;
}
.get-in-touch__input-forms input:focus {
	border-bottom: 1px solid red;
}
.get-in-touch__input-form {
	margin: 0 15px;
}
.get-in-touch__name {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 35%;
	        flex: 1 1 35%;
}
.get-in-touch__name-input {
	margin: 0px 0px 42px 0px;
	padding: 35px 0px 3px 0px;
}
@media (max-width: 827.98px) {
	.get-in-touch__name-input {
		margin: 0px 0px 22px 0px;
		padding: 15px 0px 3px 0px;
	}
}
.get-in-touch__mail {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 35%;
	        flex: 1 1 35%;
}
.get-in-touch__mail-input {
	padding: 35px 0px 3px 0px;
}
@media (max-width: 827.98px) {
	.get-in-touch__mail-input {
		padding: 15px 0px 3px 0px;
	}
}
.get-in-touch__message {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
}
.get-in-touch__message-input {
	padding: 75px 0px 3px 0px;
}
@media (max-width: 827.98px) {
	.get-in-touch__message-input {
		padding: 25px 0px 3px 0px;
	}
}
.get-in-touch__button {
	background-color: #f6744b;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #ffffff;
	padding: 20px 40px;
}
.get-in-touch__button:hover {
	background-color: #f64b70bb;
}

.map {
	background-color: #0c1215;
	text-align: center;
	padding: 32px 0px;
}
.map__title {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #ffffff;
	display: inline-block;
	position: relative;
	margin: 0px 13px 0px 0px;
}
.map__title:hover::after {
	content: "";
	width: 18px;
	height: 11px;
	position: absolute;
	top: 50%;
	margin: -5.5px 0px 0px 0px;
	cursor: pointer;
	left: calc(100% + 13px);
}
.map__arrow {
	display: inline-block;
	width: 22.5px;
	cursor: pointer;
}
.map__arrow i {
	color: #f6744b;
	font-size: 24px;
	-webkit-transform: scale(1.5, 1.2);
	    -ms-transform: scale(1.5, 1.2);
	        transform: scale(1.5, 1.2);
	max-width: 100%;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.map__arrow.active {
	margin: 0px 0px 30px 0px;
}
.map__arrow.active i {
	-webkit-transform: scale(1.5, -1.2);
	    -ms-transform: scale(1.5, -1.2);
	        transform: scale(1.5, -1.2);
	color: silver;
}

#map {
	height: 0;
	width: 0;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}
#map iframe {
	max-width: 100%;
	max-height: 100%;
}
#map.active {
	height: 100%;
	width: 100%;
}

.footer {
	color: #ffffff;
	background-color: #171f23;
	padding: 50px 0px 60px;
}
@media (max-width: 827.98px) {
	.footer {
		padding: 25px 0px;
	}
}
.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
}
.footer__heading {
	color: #ffffff;
}
@media (max-width: 827.98px) {
	.footer__heading {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 0;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
	}
}
.footer__logo {
	margin: 0px 0px 3px 0px;
}
.footer__title {
	font-family: BigNoodleTitling;
	font-size: 24px;
	letter-spacing: 0.1em;
	margin: 0px 0px 14px 0px;
}
@media (max-width: 827.98px) {
	.footer__title {
		margin: 0px 10px 0px 0px;
	}
}
.footer__subtitle {
	font-size: 14px;
	letter-spacing: 0.1em;
	margin: 0px 0px 18px 0px;
}
.footer__contacts {
	width: 66px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__contact:hover {
	opacity: 0.7;
}